<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ID</key>
		<string>342367777</string>
		<key>Secret</key>
		<string>6ios0Ngn/RgliR/v1XjvoQ9wogO5ok+ACsoPpvrkH4c=</string>
		<key>isValid</key>
		<true/>
	</dict>
</dict>
</plist>
